[submodule "tools/cpmtools"]
	path = tools/cpmtools
	url = https://github.com/lipro-cpm4l/cpmtools.git
[submodule "tools/partner/lib/cxx_argp"]
	path = tools/partner/lib/cxx_argp
	url = https://github.com/pboettch/cxx_argp.git
